.wrapper-class{
    width:1000px;
    height:1000px;
    background:blue;
    display: flex;
    align-items: center;
    justify-content: center; 
  
}  
.parrot-carousel{
    width: 433px; 
    height:260px;
}
.test{
    width: 100%; 
    height:100%; 
}